body.dark-mode {
    background-color: rgba(32,33,35,.5) !important;
    color: white;
  }

  #header {
    height: 40px;
    background-image: none !important;
    background-color: rgba(32, 33, 35, 0.5) !important;
  }

  h1, h2, h3, h4, h5, h6 {
    color: whitesmoke;
  }

  .menu {
    background-color: transparent !important;
  }

  .logo {
    background-color: transparent !important;
  }

  .notifications {
    background-color: transparent !important;
  }

  .league {
    background-color: transparent;
  }

  .cols {
    background-color: transparent;
  }

  .side.clubhouse {
    background-color: transparent;
  }

  .side.clubhouse ul li a{
    color: white;
  }

  #content .side_navigationed>.side>h3 {
    border-bottom: 1px solid #e3d6c9;
    margin: 10px 0 5px;
    color: white !important;
}

  a {
    color: white !important;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

  .banner {
    background-color: rgba(32, 33, 35, 0.5);
  }

.div.overview.tester {
  background-color: rgba(32, 33, 35, 0.5);
}

#content .side_navigationed.for_clubhouse>div:nth-child(2) {
  background-color: rgba(32, 33, 35, 0.5) !important;
}

.afs_ads {
  background-color: rgba(32, 33, 35, 0.5);
}

#content h1, .box>h2 {
  border-bottom: 2px solid #ddd !important;
  padding-bottom: 2px;
}

#content .side_navigationed>.side>ul.navigation li.current>.item {
  background: rgb(0 0 0 / 50%) !important;
}

#content>.side_navigationed>.overview>.cols>.primary>.newsflash {
  background: #878787 !important;
}

#content>.side_navigationed>.overview>.cols>.primary>.current_club {
  background: #878787 !important;
}

#content>.side_navigationed>.overview>.cols>.primary>.current_club>.current_objective .objective>div.description {
  color: #e8e8e8 !important;
}

#content>.side_navigationed>.overview>.cols>.primary>.current_club>.status>div .description {
  color: #e8e8e8 !important;
}

.current_matches {
  background-color: none;
}

#content>.side_navigationed>.overview>.cols h2 {
  border-bottom: 2px solid white !important;
}

#content>.shoutbox_messages {
  width: 520px;
  margin: 10px auto;
  background-color: rgba(32, 33, 35, 0.5) !important;
}
  


  
